.background{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
}

button{
    margin-top: 15px;
    border-radius:5px;
    border: 1px solid black;
}

.par{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.589);
    width: 50%;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 15px;
    text-align: center;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 500;
    color: rgb(16, 60, 15);
}

.list{
    display: flex;
   flex-direction: column;
   align-items: center;
   list-style-type: none;
 }

 h1{
    font-family: "Kanit", sans-serif;
    background-color: rgba(240, 248, 255, 0.677);
    padding: 5px;
    color: rgb(18, 69, 17);
 }

 input{
    padding: 10px;
    background-color: rgb(223, 238, 189);
    font-family: "Kanit", sans-serif;

 }

 h2, h3, h4, li{
    font-family: "Kanit", sans-serif;
    /* background-color: rgba(240, 248, 255, 0.628); */
    padding: 2px;
    color: rgb(0, 0, 0);
 }

.maincontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.singlcontainer{
    width: 400px;
    background-color: rgba(240, 248, 255, 0.323);
    margin: 5px;
    border-radius: 5px;
}

.btningredients{
    padding: 5px;
    background-color:rgb(18, 69, 17);
    color: aliceblue;

}

.form{
    margin-left: 70px;
}
